<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <section class="blog-create-section">
        <div class="container">

            <div class="blog-list-header">
                <div>
                    <span class="blog-list-eyebrow">Update</span>
                    <h1 class="blog-list-title">Edit Blog</h1>
                    <p class="blog-list-subtitle">
                        Update your article details and save the changes.
                    </p>
                </div>
            </div>

            <f:flashMessages />
            <f:form.validationResults />

            <f:form action="update" controller="Blog" objectName="blog" object="{blog}" method="post"
                enctype="multipart/form-data" class="blog-create-form">

                <f:form.hidden property="__identity" value="{blog.uid}" />

                <div class="blog-create-grid">

                    <div class="blog-form-field">
                        <label for="title">Blog Title</label>
                        <f:form.textfield id="title" property="title" class="blog-form-input" required="required" />
                    </div>

                    <div class="blog-form-field">
                        <label for="author">Author</label>
                        <f:form.textfield id="author" property="author" class="blog-form-input" required="required" />
                    </div>

                    <div class="blog-form-field">
                        <label for="publishDate">Publish Date</label>
                        <f:form.textfield
                            id="publishDate"
                            type="datetime-local"
                            name="blog[publishDate]"
                            value="{blog.publishDate -> f:format.date(format: 'Y-m-d\TH:i')}"
                            class="blog-form-input"
                        />
                    </div>

                    <div class="blog-form-field">
                        <label for="category">Category</label>
                        <f:form.select
                            id="category"
                            property="category"
                            options="{categories}"
                            optionValueField="uid"
                            optionLabelField="name"
                            class="blog-form-input"
                        />
                    </div>

                    <div class="blog-form-field blog-form-field-full">
                        <label for="description">Description</label>
                        <f:form.textarea id="description" property="description" class="blog-form-textarea" rows="8" />
                    </div>

                    <div class="blog-form-field blog-form-field-full">
                        <label for="thumbnail">Thumbnail</label>

                        <f:form.upload
                            id="thumbnail"
                            property="thumbnail"
                            class="blog-form-upload"
                        />
                    </div>

                </div>

                <div class="blog-form-actions">
                    <f:link.action action="list" controller="Blog" class="blog-form-cancel">
                        Cancel
                    </f:link.action>

                    <f:form.submit value="Update Blog" class="save-blog-submit" />
                </div>

            </f:form>

        </div>
    </section>
</f:section>

</html>
